{% extends 'forums/base_forums.html' %}

{% block breadcrumbs %}
<p align="center">F O R U M S</p>
{% endblock %}

{% block threads %}

{% endblock %}

{% block section %}
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fas fa-paint-roller m-auto text-primary"></i>
          </div>
          <h3>Forums</h3>
          <p class="lead mb-0">Under construction!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="far fa-comments m-auto text-primary"></i>
          </div>
          <h3>Chat</h3>
          <p class="lead mb-0">with others and get motivated!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fas fa-chalkboard-teacher m-auto text-primary"></i>
          </div>
          <h3>Learn</h3>
          <p class="lead mb-0">Read and write guides for improvement!</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
