{% extends 'forums/base_forums.html' %}

{% block breadcrumbs %}

<p class="breadcrumbs" align="center">
  <a href="{% url 'forum' %}">Forums</a> -> <a href="{% url 'threads' s_id=thread.subject_fk.parent.pk %}">{{ thread.subject_fk.parent }}</a> -> <a href="{% url 'threads' s_id=thread.subject_fk.pk %}">{{ thread.subject_fk }}</a> -> {{ thread }}
</p>

{% endblock %}

{% block threads %}
  {% if posts.count == 0 %}
    Nothing to display
  {% else %}
    {% for p in posts %}
      {% if p.original %}
        <div class="thread">
          <div class="posttop p-2">
            <div class="userinfo pull-left">
              {{ p.user }}
            </div>
            <div class="thread-title pull-left">
              {{ thread }}
              <p class="post">
                {{ p }}
              </p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="post-info">
            {% if p.post_edited != None %}
              <div class="posted pull-left"><i class="far fa-clock"></i> Edited on : {{ p.post_edited }}</div>
            {% else %}
              <div class="posted pull-left"><i class="far fa-clock"></i> Posted on : {{ p.post_created }}</div>
            {% endif %}
            <div class="next pull-right">
              <a href="#"><i class="fa fa-share"></i></a>
              <a href="#"><i class="fa fa-flag"></i></a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      {% else %}
        <div class="thread ml-5">
          <div class="posttop p-2">
            <div class="userinfo pull-left">
              {{ p.user }}
            </div>
            <p class="post">
              {{ p }}
            </p>
          </div>
          <div class="post-info">
            {% if p.post_edited != None %}
              <div class="posted pull-left"><i class="far fa-clock"></i> Edited on : {{ p.post_edited }}</div>
            {% else %}
              <div class="posted pull-left"><i class="far fa-clock"></i> Posted on : {{ p.post_created }}</div>
            {% endif %}
            <div class="next pull-right">
              <a href="#"><i class="fa fa-share"></i></a>
              <a href="#"><i class="fa fa-flag"></i></a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock %}
