body {
  /* padding-top: 3.5rem; */
  overflow-x: hidden;
  background: #fff;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.sm-circle{
  width:50px;
  height:50px;
  border-radius:50px;
  font-size:12px;
  color:#1D7874;
  line-height:45px;
  text-align:center;
  border:3px solid #1D7874;
  display:inline-block;
}

.md-circle{
  width:75px;
  height:75px;
  border-radius:45px;
  font-size:1rem;
  color:#E6AA68;
  line-height:65px;
  text-align:center;
  border:3px solid #E6AA68;
  display:inline-block;
}

.lg-circle{
  width:100px;
  height:100px;
  border-radius:50px;
  font-size:1rem;
  color:#CA3C25;
  line-height:100px;
  text-align:center;
  border:3px solid #CA3C25;
  display:inline-block;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

#sandbox-container {
  padding: 0px;
  margin-bottom: 20px;
}

#occurences {
  padding: 0px;
  margin-bottom: 20px;
}

.habit-menu {
  height: auto;
  border-width: thin;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 1px 2px #c9cccd;
  padding: 5px;
}

.input-group {
  flex-wrap: nowrap;
}

.habit-title {
  width: 75%;
  line-height: 30px;
}

.habit-buttons {
  width: 25%;
  line-height: 30px;
}

.action {
  border-width: thin;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px #c9cccd;
  margin-bottom: 20px;
  margin-right: 20px;
  font-size: 14px;
  color: #363838;
  font-family: 'Open Sans Light', sans-serif;
}

.action-title {
  width: 60%;
  font-size: 16px;
  line-height: 30px;
}

.action-motives {
  width: 40%;
  color: #989c9e;
}

.action-bottom {
  border-top: solid 1px #f1f1f1;
  line-height: 50px;
  padding: 0 30px 0 30px;
  color: #bdc3c7;
}

.action-buttons a {
  font-size: 16px;
  color: #bdc3c7;
}

.motive {
  border-width: thin;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px #c9cccd;
  margin-bottom: 20px;
  margin-right: 20px;
  font-size: 14px;
  color: #363838;
  font-family: 'Open Sans Light', sans-serif;
}

.motive-title {
  font-size: 14px;
  line-height: 30px;
}

.motive-buttons {
  border-top: solid 1px #f1f1f1;
  line-height: 50px;
  color: #bdc3c7;
}

.motive-buttons a {
  font-size: 16px;
  color: #bdc3c7;
}
