body {
  /* padding-top: 3.5rem; */
  overflow-x: hidden;
  background: #fff;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.bottom-border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
  margin-right: 0;
}

.top-border {
  border-top: 1px solid rgba(255, 255, 255, 0.5) !important;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

#sandbox-container {
  padding: 0px;
  margin-bottom: 20px;
}

#occurences {
  padding: 0px;
  margin-bottom: 20px;
}

#motive-chart {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px #c9cccd;
  font-size: 14px;
  font-family: 'Open Sans Light', sans-serif;
}

.habit-menu {
  height: auto;
  border-width: thin;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 1px 2px #c9cccd;
  padding: 5px;
}

.input-group {
  flex-wrap: nowrap;
}

.habit-title {
  width: 75%;
  line-height: 30px;
}

.habit-buttons {
  width: 25%;
  line-height: 30px;
}

.action {
  border-width: thin;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px #c9cccd;
  margin-bottom: 20px;
  margin-right: 20px;
  font-size: 14px;
  color: #363838;
  font-family: 'Open Sans Light', sans-serif;
}

.action-title {
  width: 60%;
  font-size: 16px;
  line-height: 30px;
}

.action-motives {
  width: 40%;
  color: #989c9e;
}

.action-bottom {
  border-top: solid 1px #f1f1f1;
  line-height: 50px;
  padding: 0 30px 0 30px;
  color: #bdc3c7;
}

.action-buttons a {
  font-size: 16px;
  color: #bdc3c7;
}

.motive {
  border-width: thin;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px #c9cccd;
  margin-bottom: 20px;
  margin-right: 20px;
  font-size: 14px;
  color: #363838;
  font-family: 'Open Sans Light', sans-serif;
}

.motive-title {
  font-size: 14px;
  line-height: 30px;
}

.motive-buttons {
  border-top: solid 1px #f1f1f1;
  line-height: 50px;
  color: #bdc3c7;
}

.motive-buttons a {
  font-size: 16px;
  color: #bdc3c7;
}
