{% extends "habits/habits.html" %}

{% block main %}

{% if action.pk %}
<h3>Editing {{ action }} in Habit: {{ habit }}</h3>
{% else %}
<h3>Create new action in Habit: {{ habit }}</h3>
{% endif %}
<br/>

<form method="POST" class="post-form">{% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="save btn btn-outline-info">Save</button>
  <a href="{% url 'habit_detail' habit_id=habit.pk %}" class="btn btn-outline-info" role="button" data-toggle="tooltip" data-placement="right" title="Go back to {{ habit }} details">Cancel</a>
</form>

{% endblock %}
