{% extends "habits/base_template.html" %}
{% load staticfiles %}

{% block title %}ReconneQt - Habits{% endblock %}

{% block css %}
<link href="{% static 'habits/css/sb-admin.css' %}" rel="stylesheet">
<link href="{% static 'habits/css/starter-template.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

  {% if not user.is_anonymous %}
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item">
        <span data-toggle="modal">
          <a id="new-habit-button" class="nav-link" data-target="#modal" data-form="{% url 'habit_new' %}" href="#" data-toggle="tooltip" data-placement="right" title="Add a habit">
            <i class="far fa-plus-square"></i>
            <span>Add Habit</span>
          </a>
        </span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'motives' %}">
          <i class="far fa-lightbulb"></i>
          <span>Motives</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'progress' %}">
          <i class="fas fa-calendar-alt"></i>
          <span>Progress</span>
        </a>
      </li>
      {% block dynamic_menu %}{% endblock %}
    </ul>

    <div id="content-wrapper">
      <div class="container-fluid">
        <div class="modal fade" id="edit-modal"></div>
          {% block main %}{% endblock %}
          <!-- Sticky Footer -->
          <footer class="sticky-footer">
            <div class="container my-auto">
              <div class="copyright text-center my-auto">
                <span>Copyright © ReconneQt 2018</span>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>

  {% else %}
  <div id="content-wrapper">
    <div class="container-fluid">
      <p>Please login to see this page.</p>
    </div>
  </div>
  {% endif %}

{% endblock %}

{% block scripts %}
  <!-- <script src="{% static 'habits/like_button.js' %}"></script> -->
  <script src="{% static 'habits/js/reconneqt.js' %}"></script>
{% endblock %}
