{% extends "habits/base_template.html" %}
{% load staticfiles %}

{% block title %}ReconneQt - Habits{% endblock %}

{% block css %}

<link href="{% static 'habits/sb-admin.css' %}" rel="stylesheet">
<link href="{% static 'habits/starter-template.css' %}" rel="stylesheet">
<link href="{% static 'habits/landing-page.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light static-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">ReconneQt</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        {% if not user.is_anonymous %}
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Graphs</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Something</a>
            <a class="dropdown-item" href="#">Some more</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'habits' %}">Habits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'motives' %}">Motives</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'forum' %}">Forums</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        {% if not user.is_anonymous %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle float-right" href="http://example.com" id="userdropdown"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.get_username }}</a>
            <div class="dropdown-menu" aria-labelledby="userdropdown">
              <a class="dropdown-item" href="{% url 'logout'%}?next={% url 'index' %}">Logout</a>
            </div>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}?next={{request.path}}">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

{% block main %}{% endblock %}

{% endblock %}

{% block scripts %}
  <!-- <script src="{% static 'habits/like_button.js' %}"></script> -->
  <script src="{% static 'habits/reconneqt.js' %}"></script>
{% endblock %}
