{% extends "habits/base_index.html" %}

{% block main %}
{% if not user.is_anonymous %}
<div id="wrapper" class="">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li>
        <span data-toggle="modal">
          <a id="new-habit-button" data-target="#modal" data-form="{% url 'habit_new' %}" href="#" data-toggle="tooltip" data-placement="right" title="Add a habit">
            <i class="far fa-plus-square m-4" style="float:right"></i>
          </a>
        </span>
      </li>
      <li class="sidebar-brand">
        <a href="{% url 'habits' %}">Habits</a>
      </li>
      {% for habit in habit_list %}
      <li>
        {% if habit.good_habit %}
          <a href="{% url 'habit_detail' habit.id %}" style="color:#008000">{{ habit.habit_name }}</a>
        {% else %}
          <a href="{% url 'habit_detail' habit.id %}" style="color:#B22222">{{ habit.habit_name }}</a>
        {% endif %}
      {% endfor %}
      </li>
    </ul>
  </div><!-- /#sidebar-wrapper -->
  <div id="page-content-wrapper">
    <a href="#menu-toggle" class="btn btn-outline-secondary" id="menu-toggle" style="width: 35px">
      <i id="left-caret" class="fas fa-chevron-left" style="display: none"></i>
      <i id="right-caret" class="fas fa-chevron-right"></i>
    </a>
    <div class="container-fluid">
    <!-- Modal -->
    <div class="modal fade" id="edit-modal"></div>
    <!-- /.modal -->
    <!-- <div id="like_button_container"></div> -->
    <!-- <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a> -->
    </div>
  </div><!-- /#page-content-wrapper -->
</div><!-- /#wrapper -->

{% else %}
<div id="page-content-wrapper">
  <div class="container-fluid">
    <p>Please login to see this page.</p>
  </div>
</div>
{% endif %}

{% endblock %}
