{% load static %}
{% if not user.is_anonymous %}
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <form id="habit_edit_form" method="POST" class="post-form">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Habit {{ habit }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        {{ form.as_p }}
      </div>
      <div class="modal-footer">
        {% if habit.pk %}
        <button id="habit-edit-submit" method="POST" url="{% url 'habit_edit' habit_id=habit.id %}" type="submit" class="save btn btn-outline-info">Save</button>
        {% else %}
        <button id="habit-edit-submit" method="POST" url="{% url 'habit_new' %}" type="submit" class="save btn btn-outline-info">Save</button>
        {% endif %}
      </div>
    </form>
  </div>
</div>
{% else %}
<div id="page-content-wrapper">
  <div class="container-fluid">
    <p>Please login to see this page.</p>
  </div>
</div>
{% endif %}
<script src="{% static 'habits/js/habit_edit.js' %}"></script>
