{% extends "habits/base_habits.html" %}

{% block dynamic_menu %}

  {% for habit in habit_list %}
  <li class="nav-item">
    {% if habit.good_habit %}
    <a href="{% url 'habit_detail' habit.id %}" class="nav-link">
      <i class="far fa-thumbs-up"></i>
      <span>{{ habit.habit_name }}</span>
    </a>
    {% else %}
    <a href="{% url 'habit_detail' habit.id %}" class="nav-link">
      <i class="far fa-thumbs-down"></i>
      <span>{{ habit.habit_name }}</span>
    </a>
    {% endif %}
  {% endfor %}
  </li>

{% endblock %}

{% block main %}
  <p class="lead">Click on one of the links in the sidebar to show motives, habits, and activities.</p>
{% endblock %}
