{% extends "habits/base_habits.html" %}

{% load habit_filters %}

{% block main %}

<div id="habit-details" class="container-fluid">
  <div id="occurences" class="container-fluid">
    {% for key, value in occurence.items %}
    <div class="{{ value|get_occurence:num_motives }}-circle">{{ key }}</div>
    {% endfor %}
  </div>

  <div class="row habit-menu">
    <div class="habit-title col-lg-3 col-md-3 col-sm-4">
      <h2>{{ habit }}</h2>
    </div>

    <div class="actions-pagination col-lg-6 col-md-4">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#">&laquo;</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">5</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">&raquo;</a>
        </li>
      </ul>
    </div>

    <div class="habit-buttons col-lg-3 col-md-5 btn-toolbar justify-content-between">
      <div class="btn-group">
        <span data-toggle="modal">
          <a id="new-action-button" data-form="{% url 'action_new' habit_id=habit_id %}" href="#" class="btn btn-primary btn-sm m-2" role="button" data-toggle="tooltip" data-target="#modal" data-placement="bottom" title="Add an action">
            <i class="far fa-plus-square"></i>
          </a>
        </span>

        <span data-toggle="modal">
          <a id="edit-habit-button" data-form="{% url 'habit_edit' habit_id=habit_id %}" href="#" class="btn btn-primary btn-sm m-2" role="button" data-toggle="tooltip" data-target="#modal" data-placement="bottom" title="Edit {{ habit }}">
            <i class="fas fa-pencil-alt"></i>
          </a>
        </span>

        <span data-toggle="modal">
          <a data-form="{% url 'habit_delete' habit.pk %}" href="#" class="btn btn-primary btn-sm m-2" role="button" data-toggle="tooltip" data-target="#modal" data-placement="bottom" id="delete-habit-button" title="Delete {{ habit }}">
            <i class="far fa-minus-square"></i>
          </a>
        </span>
        <div class="clear"></div>
      </div>
    </div>
  </div>

  <div class="row">
    {% for action in action_list %}
      <div class="card mr-3 mb-3" style="width: 20rem;">
        <h3 class="card-header">
          <span data-toggle="modal">
            <a data-form="{% url 'action_edit' habit_id=habit.id pk=action.pk %}" href="#" class="edit-action-button btn btn-sm pull-right" role="button" data-toggle="tooltip" data-target="#modal" data-placement="bottom" title="Edit {{ action|truncatewords:"4" }}">
              <i class="fas fa-pencil-alt"></i>
            </a>
          </span>

          <span data-toggle="modal">
            <a data-form="{% url 'action_delete' pk=action.pk %}" href="#" class="btn btn-sm delete-action-button  pull-right" role="button" data-toggle="tooltip" data-target="#modal" data-placement="bottom" id="delete-action-button" title="Delete {{ action|truncatewords:"4" }}">
              <i class="far fa-minus-square"></i>
            </a>
          </span>
        </h3>
        <div class="card-body">
          Action: {{ action }}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Motives:
            {% for t in action.motives.all %}
            {{ t }},
            {% endfor %}
          </li>
          {% if action.action_end %}
            <li class="list-group-item"><i class="fas fa-hourglass-half"></i> {{ action.action_start|get_duration:action.action_end }}</li>
          {% endif %}
        </ul>
        <div class="card-footer text-muted">
          <i class="far fa-clock"></i> {{ action.action_start }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
