{% extends "habits/base_habits.html" %}

{% load habit_filters %}

{% block dynamic_menu %}

  {% for habit in habit_list %}
  <li class="nav-item">
    {% if habit.good_habit %}
    <a href="{% url 'habit_detail' habit.id %}" class="nav-link">
      <i class="far fa-thumbs-up"></i>
      <span>{{ habit.habit_name }}</span>
    </a>
    {% else %}
    <a href="{% url 'habit_detail' habit.id %}" class="nav-link">
      <i class="far fa-thumbs-down"></i>
      <span>{{ habit.habit_name }}</span>
    </a>
    {% endif %}
  </li>
  {% endfor %}

{% endblock %}

{% block main %}

<div id="occurences" class="container-fluid">
  {% for key, value in occurence.items %}
  <div class="{{ value|get_occurence:num_motives }}-circle">{{ key }}</div>
  {% endfor %}
</div>

<div id="habit-details" class="container-fluid">
  <span data-toggle="modal">
    <a data-form="{% url 'habit_delete' habit.pk %}" href="#" class="btn btn-outline-danger mr-2" style="float:right" role="button" data-toggle="tooltip" data-target="#modal" data-placement="bottom" id="delete-habit-button" title="Delete {{ habit }}">
      <i class="far fa-minus-square"></i>
    </a>
  </span>

  <span data-toggle="modal">
    <a id="edit-habit-button" data-form="{% url 'habit_edit' habit_id=habit_id %}" href="#" class="btn btn-outline-info mr-2" style="float:right" role="button" data-toggle="tooltip" data-target="#modal" data-placement="bottom" title="Edit {{ habit }}">
      <i class="fas fa-pencil-alt"></i>
    </a>
  </span>

  <span data-toggle="modal">
    <a id="new-action-button" data-form="{% url 'action_new' habit_id=habit_id %}" href="#" class="btn btn-outline-info mr-2" style="float:right" role="button" data-toggle="tooltip" data-target="#modal" data-placement="bottom" title="Add an action">
      <i class="far fa-plus-square"></i>
    </a>
  </span>

  <h2>{{ habit }}</h2>

  <table class="table">
    <tr>
      <th></th>
      <th>Actions</th>
      <th>Motives</th>
      <th>Date/Time</th>
    </tr>
    {% for action in action_list %}
    <tr>
      <td>
        <span data-toggle="modal">
          <a data-form="{% url 'action_edit' habit_id=habit.id pk=action.pk %}" href="#" class="edit-action-button btn btn-outline-info mr-2 btn-sm" role="button" data-toggle="tooltip" data-target="#modal" data-placement="bottom" title="Edit {{ action }}">
            <i class="fas fa-pencil-alt"></i>
          </a>
        </span>
        <a href="{% url 'action_delete' pk=action.pk %}" class="btn btn-outline-danger mr-2 btn-sm" role="button" data-toggle="tooltip" data-placement="bottom" title="Delete {{ action }}">
          <i class="far fa-minus-square"></i>
        </a>
      </td>
      <td>
        {{ action }}<br/><br/>
      </td>
      <td>
        {% for t in action.motives.all %}
        {{ t }},
        {% endfor %}
      </td>
      <td>{{ action.action_time }}</td>
    </tr>
    {% endfor %}
  </table>

  {% endblock %}
