{% extends "habits/base_habits.html" %}

{% block dynamic_menu %}
  {% for habit in habit_list %}
  <li class="nav-item">
    {% if habit.good_habit %}
    <a href="{% url 'habit_detail' habit.id %}" class="nav-link">
      <i class="far fa-thumbs-up"></i>
      <span>{{ habit.habit_name }}</span>
    </a>
    {% else %}
    <a href="{% url 'habit_detail' habit.id %}" class="nav-link">
      <i class="far fa-thumbs-down"></i>
      <span>{{ habit.habit_name }}</span>
    </a>
    {% endif %}
  </li>
  {% endfor %}
{% endblock %}

{% block main %}

<span data-toggle="modal">
  <a id="new-motive-button" data-form="{% url 'motive_new' %}" href="#" class="btn btn-outline-info mr-2" style="float:right" role="button" data-toggle="tooltip" data-target="#modal" data-placement="bottom" title="Add a motive">
    <i class="far fa-plus-square"></i>
  </a>
</span>
<h3>{{user}}'s motives</h3>
<table class="table">
  <tr>
    <th>Motives</th>
    <th></th>
  </tr>
  {% for motive in motive_list %}
  <tr>
    <td class="fit">
      <span data-toggle="modal">
        <a data-form="{% url 'motive_edit' pk=motive.id %}" href="#" class="edit-motive-button btn btn-outline-info mr-2 btn-sm" role="button" data-toggle="tooltip" data-target="#modal" data-placement="bottom" title="Edit {{ motive }}">
          <i class="fas fa-pencil-alt"></i>
        </a>
      </span>
      <a href="{% url 'motive_delete' pk=motive.pk %}" class="btn btn-outline-danger mr-2 btn-sm" role="button" data-toggle="tooltip" data-placement="bottom" id="delete_habit" title="Delete {{ motive }}">
        <i class="far fa-minus-square"></i>
      </a>
    </td>
    <td>
      {{ motive }}
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
