{% load static %}
{% if not user.is_anonymous %}
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <form id="motive-edit-form" method="POST" class="post-form">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Motive {{ motive }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        {{ form.as_p }}
      </div>
      <div class="modal-footer">
        {% if motive.pk %}
        <button id="motive-edit-submit" method="POST" url="{% url 'motive_edit' pk=motive.pk %}" type="submit" class="save btn btn-outline-info">Save</button>
        {% else %}
        <button id="motive-edit-submit" method="POST" url="{% url 'motive_new' %}" type="submit" class="save btn btn-outline-info">Save</button>
        {% endif %}
      </div>
    </form>
  </div>
</div>
{% else %}
<div id="page-content-wrapper">
  <div class="container-fluid">
    <p>Please login to see this page.</p>
  </div>
</div>
{% endif %}
<script src="{% static 'habits/motive_edit.js' %}"></script>
