{% extends "habits/base_habits.html" %}

{% block main %}

<span data-toggle="modal">
  <a id="new-motive-button" data-form="{% url 'motive_new' %}" href="#" class="btn btn-primary mr-2" style="float:right" role="button" data-toggle="tooltip" data-target="#modal" data-placement="bottom" title="Add a motive">
    <i class="far fa-plus-square"></i>
  </a>
</span>
<h3>{{user}}'s motives</h3>

<div class="row container-fluid">
  {% for motive in motive_list %}
  <div class="motive col-lg-2 col-md-2 col-sm-2 col-xs-2">
    <div class="motive-title">
      {{ motive }}
    </div>
    <div class="motive-buttons">
      <span data-toggle="modal">
        <a data-form="{% url 'motive_edit' pk=motive.id %}" href="#" class="edit-motive-button btn btn-sm" role="button" data-toggle="tooltip" data-target="#modal" data-placement="bottom" title="Edit {{ motive }}">
          <i class="fas fa-pencil-alt"></i>
        </a>
      </span>

      <span data-toggle="modal">
        <a data-form="{% url 'motive_delete' pk=motive.pk %}" href="#" class="btn btn-sm delete-motive-button" role="button" data-toggle="tooltip" data-target="#modal" data-placement="bottom" id="delete-motive-button" title="Delete {{ motive }}">
          <i class="far fa-minus-square"></i>
        </a>
      </span>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
