<div class="modal-dialog modal-lg">
  <form method="post">{% csrf_token %}
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Delete motive: {{ motive }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete "{{ object }}"?</p>
      </div>
      <div class="modal-footer">
        <button id="motive-delete-submit" method="POST" url="{% url 'motive_delete' pk=motive.pk %}" type="submit" class="save btn btn-primary">Confirm</button>
      </div>
    </div>
  </form>
</div>

<script>

// Modal delete motive form
$('#motive-delete-submit').click(function(ev) {
  ev.preventDefault();
  var form = $(this).closest("form");

  $.ajax({
    type: $(this).attr('method'),
    url: $(this).attr('url'),
    data: form.serialize(),
    context: this,
    success: function(data, status) {
      $('#edit-modal').modal('toggle');
      window.location = "/reconneqt/motives";
    }
  });
});

</script>
