{% extends "habits/base_habits.html" %}
{% load staticfiles %}
{% load habit_filters %}

{% block main %}
<div class="container-fluid">
  <div class="span5 col-lg-6 col-md-7" id="sandbox-container">
    <div class="input-group">
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input id="date" type="text" method="POST" url="{% url 'progress' %}" class="form-control datepicker date">
      </form>
      <div class="input-group-append">
        <span class="input-group-text input-group-addon">
          <i class="fas fa-calendar-alt"></i>
        </span>
      </div>
    </div>
  </div>

  <div id="occurences" class="container-fluid">
    {% for key, value in occurence.items %}
    <div class="{{ value|get_occurence:num_motives }}-circle">{{ key }}</div>
    {% endfor %}
  </div>

  <div class="row">
    <div id="progress-table" class="col-lg-5 pull-right">
      {% for action in action_list %}
        <div class="action">
          <div class="action-top p-2">
            <div class="action-title pull-left">
              {{ action }}
            </div>
            <div class="action-motives pull-left">
              {% for t in action.motives.all %}
              {{ t }},
              {% endfor %}
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="action-bottom">
            <div class="action-date pull-left">
              <i class="far fa-clock"></i> {{ action.action_start }} {{ action.action_start|get_duration:action.action_end }}
            </div>
            <div class="action-date pull-right">
              {{ action.habit }}
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div id="graph-container" class="col-lg-5">
      <canvas id="motive-chart"></canvas>
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'habits/js/reconneqt-chart.js' %}"></script>
{% endblock %}
